<!-- assign job Modal -->

<div class="modal-dialog modal-lg">
  <div class="modal-content text-center">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title popup-title">Assign job</h4>
      <button type="button" class="close" data-dismiss="modal">close</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <h5 class="popup-title">Select people to assign</h5>
      <%= form_tag job_assign_jobs_path(@job) do %>
        <ul>
          <%@users.each do |user|%>
            <li>
              <a href="##" id="user-<%= user.id %>" onclick="hideShowProfilePic(this);">
                <% if user.image.url.present? && !user.image_file_name.nil? %>
                  <%= image_tag user.image.url,:class=>"img-fluid #{@assign_users.include?(user.id.to_s) ? 'assigned' : ''}",:style=>"display: #{@assign_users.include?(user.id.to_s) ? 'none;' : 'block'}",:id=>"profile-pic-#{user.id}" %>
                <% else %>
                  <%= image_tag "new_ui/About Us-1.png",:class=>"img-fluid #{@assign_users.include?(user.id.to_s) ? 'assigned' : ''}",:style=>"display: #{@assign_users.include?(user.id.to_s) ? 'none;' : 'block'}",:id=>"profile-pic-#{user.id}"  %>
                <% end %>
                <%= image_tag "yours.png",:class=>"img-fluid",:style=>"background-color:#122FB8; display: #{@assign_users.include?(user.id.to_s) ? 'block' : 'none'}",:id=>"tick-mark-#{user.id}"  %>
              </a>
              <%= user.full_name %>
              <%= check_box_tag 'user_ids[]', user.id, @assign_users.include?(user.id.to_s),:style=>"display: none;",:id=>"user-checkbox-#{user.id}"%>
            </li>
          <%end%>
        </ul>
        <%= submit_tag "Assign",:class=>"assign-job-btn" %>
      <%end%>
    </div>

  </div>
</div>
<script>
  function hideShowProfilePic(element) {
    var user_id = $(element).attr('id');
    user_id = user_id.split('-');
    user_id = user_id[1];
    if ($('#profile-pic-' + user_id).hasClass('assigned')) {
      $('#profile-pic-' + user_id).removeClass('assigned');
      $('#profile-pic-' + user_id).show();
      $('#tick-mark-' + user_id).hide();
      $('#user-checkbox-' + user_id).prop('checked', false);
    } else {
      $('#profile-pic-' + user_id).addClass('assigned');
      $('#profile-pic-' + user_id).hide();
      $('#tick-mark-' + user_id).show();
      $('#user-checkbox-' + user_id).prop('checked', true);
    }
  }
</script>
