<!-- assign job Modal -->

<div class="modal-dialog modal-lg">
  <div class="modal-content text-center">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title popup-title">Assign job</h4>
      <button type="button" class="close" data-dismiss="modal">close</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <h5 class="popup-title">Select people to assign</h5>
      <%= form_tag job_assign_jobs_path(@job) do %>
        <ul>
          <%@users.each do |user|%>
            <li>
              <a href="##" id="user-<%= user.id %>" onclick="hideShowProfilePic(this);">
                <% if user.image.url.present? && !user.image_file_name.nil? %>
                  <%= image_tag user.image.url,:class=>"img-fluid #{@assign_users.include?(user.id.to_s) ? 'assigned' : ''}",:style=>"display: #{@assign_users.include?(user.id.to_s) ? 'none;' : 'block'}",:id=>"profile-pic-#{user.id}" %>
                <% else %>
                  <%= image_tag "about_1.jpg",:class=>"img-fluid #{@assign_users.include?(user.id.to_s) ? 'assigned' : ''}",:style=>"display: #{@assign_users.include?(user.id.to_s) ? 'none;' : 'block'}",:id=>"profile-pic-#{user.id}"  %>
                <% end %>
                <%= image_tag "tick-mark.png",:class=>"img-fluid",:style=>"display: #{@assign_users.include?(user.id.to_s) ? 'block' : 'none'}",:id=>"tick-mark-#{user.id}"  %>
              </a>
              <%= user.full_name %>
              <%= check_box_tag 'user_ids[]', user.id, @assign_users.include?(user.id.to_s),:style=>"display: none;",:id=>"user-checkbox-#{user.id}"%>
            </li>
          <%end%>
        </ul>
        <%= submit_tag "Assign",:class=>"assign-job-btn" %>
      <%end%>
    </div>

  </div>
</div>
<script>
  function hideShowProfilePic(element) {
    var user_id = $(element).attr('id');
    user_id = user_id.split('-');
    user_id = user_id[1];
    if ($('#profile-pic-' + user_id).hasClass('assigned')) {
      $('#profile-pic-' + user_id).removeClass('assigned');
      $('#profile-pic-' + user_id).show();
      $('#tick-mark-' + user_id).hide();
      $('#user-checkbox-' + user_id).prop('checked', false);
    } else {
      $('#profile-pic-' + user_id).addClass('assigned');
      $('#profile-pic-' + user_id).hide();
      $('#tick-mark-' + user_id).show();
      $('#user-checkbox-' + user_id).prop('checked', true);
    }
  }
</script>
<!-- assign job Modal -->
<style>
  /* assign job model   */

  .assign-job-model .modal-header{display:block;text-align:center;border:0px;padding:0px;}
  .assign-job-model .modal-body ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  .assign-job-model .modal-body ul li{
    display: inline-block;
    width: 28.8%;
    border: 1px solid #000;
    border-radius: 5px;
    vertical-align: top;
    margin: 0% 2% 4% 2%;
    min-width: 150px;
    padding: 15px;
    font-family: PublicaSans-Light;
    text-transform: capitalize;
    height: 190px;
  }
  .assign-job-model .modal-body ul li a{
    display: block;
    max-width: 80px;
    max-height: 80px;
    margin: 20px auto;
    border-radius: 60px;
    overflow: hidden;
  }
  .assign-job-model .modal-body h5{font-size:18px;padding:15px 0px;}
  .assign-job-model .modal-body .assign-job-btn {
    line-height: normal;
    font-size: 16px;
    background-color: #122FB8;
    font-family: ZPublicaSans;
    letter-spacing: -0.217708px;
    color: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    padding: 20px 0px;
    max-width: 240px;
    display: block;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
  }


  .popup-title{
    line-height: normal;
    font-size: 24px;
    font-family: PublicaSans-Medium;
    color: #090909;
    letter-spacing: -0.348333px;
  }
  .popup-title span{
    line-height: normal;
    font-size: 10px;
    text-align: center;
    font-family: PublicaSans-Medium;
    color: #fff;
    padding: 3px 12px 5px;
    border-radius: 20px;
  }
  .popup-title .open{background-color: #7ed321;}

  /* assign job model   */
</style>
