<div class="col-9">
  <h4>candidate feedback</h4>
</div>
<div class="col-3">
  <%unless interview_schedule.candidate_feedbacks.present?%>
    <a data-toggle="modal" onclick="setFeedbackDetails(this);" data-target="#candidate-feedback" href="#" data-feedback-id="<%= '' %>" data-feedback="<%= '' %>" data-schedule_id="<%= interview_schedule.id %>">Add</a>
  <%end%>
</div>
<%interview_schedule.candidate_feedbacks.each do |candidate_feeback| %>
  <div class="col-9">
    <a href="##"><%= candidate_feeback.user.first_name %></a>
    <%= candidate_feeback.feedback %>
  </div>
  <div class="col-3">
    <a data-toggle="modal" onclick="setFeedbackDetails(this);" data-target="#candidate-feedback" href="#" data-feedback-id="<%= candidate_feeback.id %>" data-feedback="<%= candidate_feeback.feedback %>" data-schedule_id="<%= interview_schedule.id %>">Edit</a>
    <%= link_to 'Delete',destroy_feedback_path(candidate_feeback),method: :delete,remote: true %>
  </div>
<%end%>
<div class="col-9">
</div>