<div class="modal-dialog">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header d-block">
      <h3>Interview Schedule</h3>
      <a href="#" class="close" data-dismiss="modal">close</a>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
      <ul class="nav nav-tabs" role="tablist">
        <%@job.interview.interview_schedules.order(:stage).each_with_index do |interview_schedule,index|%>
          <li class="nav-item">
            <a class="nav-link <%= index == 0 ? 'active' : '' %>" href="#<%= interview_schedule.stage %>-stage" role="tab" data-toggle="tab"><%= detect_stage(interview_schedule.stage) %></a>
          </li>
        <%end%>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <%@job.interview.interview_schedules.each_with_index do |interview_schedule,index|%>
          <div role="tabpanel" class="tab-pane <%= index == 0 ? 'in active' : '' %>" id="<%= interview_schedule.stage %>-stage">
            <div class="popup-content">
              <div class="row">
                <div class="col-9">
                  <h4>interview availability dates</h4>
                </div>
                <div class="col-3">
                  <%unless interview_schedule.interview_avail_dates.present?%>
                    <a data-toggle="modal" onclick="next_step(<%=  interview_schedule.id%>, <%=  interview_schedule.stage %>,<%= interview_schedule.interviewers_names %>, <%=  interview_schedule.interview_avail_dates.to_json %>,<%= @job.interview.id %>, 'date')" data-target="#schedule-interview" href="#">Add</a>
                  <%end%>
                </div>
                <div class="col-9">
                  <%= interview_schedule.interview_avail_dates["interview_avail_date1"] %>
                </div>
                <div class="col-3">
                  <%if interview_schedule.interview_avail_dates.present?%>
                    <a data-toggle="modal" onclick="next_step(<%=  interview_schedule.id%>, <%=  interview_schedule.stage %>,<%= interview_schedule.interviewers_names %>, <%=  interview_schedule.interview_avail_dates.to_json %>,<%= @job.interview.id %>, 'date')" data-target="#schedule-interview" href="#">Edit</a>
                  <%end%>
                </div>
              </div>

              <div class="popup-divider"></div>
              <div class="row">
                <div class="col-9">
                  <h4>interviewer</h4>    
                </div>
                <div class="col-3">
                  <%unless interview_schedule.interviewers_names.present?%>
                    <a data-toggle="modal" onclick="next_step(<%=  interview_schedule.id%>, <%=  interview_schedule.stage %>,<%= interview_schedule.interviewers_names %>, <%=  interview_schedule.interview_avail_dates.to_json %>,<%= @job.interview.id %>, 'interviewer')" data-target="#schedule-interview" href="#">Add</a>   
                  <%end%>
                </div>
                <div class="col-9">
                  <%interview_schedule.interviewers_names.each do |interviewer|%>
                    <div class="interviewer-detail">
                      <%= interviewer %>
                    </div>
                  <%end%>    
                </div>
                <div class="col-3">
                  <%if interview_schedule.interviewers_names.present?%>
                    <a data-toggle="modal" onclick="next_step(<%=  interview_schedule.id%>, <%=  interview_schedule.stage %>,<%= interview_schedule.interviewers_names %>, <%=  interview_schedule.interview_avail_dates.to_json %>,<%= @job.interview.id %>, 'interviewer')" data-target="#schedule-interview" href="#">Edit</a>   
                  <%end%>
                </div>
              </div>


              <div class="popup-divider"></div>
              <div class="row">
                <div class="col-9">
                  <h4>client comments</h4>                  
                </div>
                <div class="col-3">
                  <%unless interview_schedule.client_comments.present?%>
                    <a data-toggle="modal" onclick="setCommentDetails(this);" data-target="#client-comment" href="#" data-comment-id="<%= '' %>" data-comment="<%= '' %>" data-schedule_id="<%= interview_schedule.id %>">Add</a> 
                  <%end%>
                </div>
                <%interview_schedule.client_comments.each do |client_comment| %>
                  <div class="col-9">
                    <a href="##"><%= client_comment.user.first_name %></a>
                    <%= client_comment.comment %>
                  </div>
                  <div class="col-3">
                    <a data-toggle="modal" onclick="setCommentDetails(this);" data-target="#client-comment" href="#" data-comment-id="<%= client_comment.id %>" data-comment="<%= client_comment.comment %>" data-schedule_id="<%= interview_schedule.id %>">Edit</a> 
                    <%= link_to 'Delete',destroy_comment_path(client_comment),method: :delete %>
                  </div>
                <%end%>
                <div class="col-9">
                </div>
              </div>
              <div class="popup-divider"></div>

              <div class="row">
                <div class="col-8">
                  <h4>next steps</h4>    
                </div>
                <div class="col-4">
                  <%if interview_schedule.stage.to_i == @job.interview.interview_schedules.maximum('stage')%>
                    <a data-toggle="modal" onclick="next_step('', <%=  interview_schedule.stage+1%>, '', '',<%= @job.interview.id %>, 'all fields')" data-target="#schedule-interview" href="#" class="add-schedule-button-<%= interview_schedule.id %>">Add</a>
                  <%end%>
                  <a data-toggle="modal" onclick="next_step(<%=  interview_schedule.id%>, <%=  interview_schedule.stage %>,<%= interview_schedule.interviewers_names %>, <%=  interview_schedule.interview_avail_dates.to_json %>,<%= @job.interview.id %>, 'all fields')" data-target="#schedule-interview" href="#">Edit</a>
                  <%= link_to " Delete", "/interview_schedules/#{interview_schedule.id}", method: :delete  %>
                </div>
              </div>
            </div>
          </div>
        <%end%>

      </div>

    </div>

  </div>
</div>