<div class="container-fluid">
  <div class="row">
    <%= render 'shared/navigation' %>
    <div class="col-md-10" style="background-color:#f1f1f1;">
      <div class="create-job">
        <!-- <h2>Job was successfully created</h2> -->
        <div class="succesfull-create">
          <h3><%= @job.title %></h3>
          <div class="successfull-des">
            <span>Description</span>
            <%= @job.description %>
          </div>
          <div class="successfull-des">
            <span>Document</span>
            <%= link_to @job.document_file_name, download_job_path(@job), target: "_blank"%>
          </div>
          <div class="successfull-des">
            <span>Industry</span>
            <%= @job.industry.try(:title) %>
          </div>
          <div class="successfull-des status">
            <span>Status</span>
            <div class="open"><%= @job.status_string %></div>
          </div>
          <div class="successfull-des rounds">
            <span>Total Interview Round</span>
            <% if @job.interview.try(:total_stage).nil? %>
              0
            <% else %>
              <%= @job.interview.try(:total_stage) %>
            <% end %>
          </div>
          <% if current_user.client? %>
            <a data-toggle="modal" data-target="#stage" href="#" class="interview-stage">create interview stage</a>

            <div class="clos-edit-job">
              <% if @job.closed? %>
                <%= link_to 'Open Job', open_job_path(id: @job.id), method: :post if current_user.client? %>
              <% else %>
                <%= link_to 'Close Job', close_job_path(id: @job.id), method: :post if current_user.client? %>
                <%= link_to 'Edit', edit_job_path(@job) if current_user.client? %>
              <% end %>
            </div>
            <div class="popup-divider"></div>
            <h4>Applications - <%= @users.length %> </h4>
            <div class="row">
              <% @users.each do |user| %>
                <div class="col-9">
                  <%= user.email %>
                </div>
                <div class="col-3">
                  <%= link_to "Review", "/resumes?job_id=#{@job.id}&user_id=#{user.id}" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="stage">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header d-block text-center">
        <h3>Interview Schedule</h3>
        <a href="#" class="close" data-dismiss="modal">close</a>
        <a href="#" class="arrow" data-dismiss="modal">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h4>stage</h4>
        <%= form_for :interview,url: job_interviews_path(@job) do |f|%>
          <div class="form-group">
            <div class="form-control">
              <%= f.select(:total_stage, [["Pre Screen", 1], ["Stage 2",2], ["Stage 3", 3], ["Stage 4",4],["Stage 5", 5],
                  ["Stage 6",6], ["Stage 7", 7], ["Stage 8", 8], ["Stage 9", 9], ["Stage 10", 10]], {:class => 'stage-select'}) %>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <%= f.submit "save changes" %>
        </div>
      <% end %>
    </div>
  </div>
</div>