<div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="background-color:#f1f1f1;">
        <div class="job-right">
          <div class="detail-page-custom-design">
            <ul>
                <li>
                    <h4>Job Title:</h4>
                    <p><%= @job.title %></p>
                </li>
                <li>
                    <h4>Description:</h4>
                    <p><%= @job.description %></p>
                </li>
                <li>
                    <h4>Document: </h4>
                    <p>
                        <% if @job.document_file_name %>
                            <%= link_to @job.document_file_name, download_job_path(@job),  target: "_blank"%>
                        <% else %>
                        <p>No Document</p>
                        <% end %>
                            
                        </p>
                </li>
                <li>
                    <h4>Industry:</h4>
                    <p><%= @job.industry.try(:title) %></p>
                </li>
                <li>
                    <h4>Total Interview Round:</h4>
                    <p><%= @job.interview.try(:total_stage) %></p>
                </li>
                <li>
                    <h4>Status:</h4>
                    <p><%= @job.status_string %></p>
                </li>
                
            </ul>

          </div>
      </div>
  </div>
</div>
<% if current_user.client? %>
    <p>
 <button id="myBtn" class="btn btn-primary">Create Interview Stage for this Job</button>
    <span style="font-weight:bold;color:red;padding-left:10px;"> (You must Click this button  before  Schedule is Created)</span></p><br />
<%end%>
<br />
  <% if @job.closed? %>
    <%= link_to 'Open Job', open_job_path(id: @job.id), method: :post if current_user.client? %>
  <% else %>
    <%= link_to 'Close Job', close_job_path(id: @job.id), method: :post if current_user.client? %>
  <% end %> |
<%= link_to 'Edit', edit_job_path(@job) if current_user.client? %> |
<%= link_to 'Back', users_dashboard_path %>
</div>


<%if current_user.client? %>
<div class="re_sty">
<h1>Applications - <%= @users.length %> </h1>
<div class="a_bold"> <%= render 'jobs/user_applied' %></div>
</div>
<!-- The Modal -->
<%end%>
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= render "interviews/form"%>
  </div>
</div>
</div>
</div></div>
<script type="text/javascript">
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<style type="text/css">
	/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 500px;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>
