<div class="col-md-10" style="background-color:#f1f1f1;">
   <div class="job-right">
      <h2 class="heading"><%= @applied_jobs.present? ? "Jobs you've applied for (#{@applied_jobs.size})" : "" %></h2>
      <div class="box-job">
         <ul>
          <% @applied_jobs.each do |job| %>
            <li>
               <div class="equal-height" style="height: 314px;">
                  <div class="box-heading">
                     <div class="box-header">
                        <h2 class="job-heading"><%= link_to (job.title || ""), job_path(job)%></h2>
                        <h3 class="job-sub-heading"><%= job.industry.present? ? job.industry.title : '' %></h3>
                        <div class="about-job <%= job.status_string %>"><%= job.status %></div>
                     </div>
                  </div>
                  <div class="job-discription">
                     <h3>Candidate Feedback &nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#interview-round">Edit</a></h3>
                     <p>Candidate has a strong technical background working on similar systems and a good track record. Seems to develop with the…</p>
                     <div class="job-status">
                        <h3>status</h3>
                        <h3>Reviewed by client?</h3>
                        <p><%=reviewed_by(@reviews,job)%></p>
                        <h3>Submitted to client?</h3>
                        <p><%=cv_download(@reviews,job)%></p>
                     </div>
                  </div>
               </div>
               <%= candidate_interview_status() %>
            </li>
          <% end %>
         </ul>
      </div>
   </div>
</div>
