<div class="col-md-10" style="background-color:#f1f1f1;">
  <div class="job-right">
    <h2 class="heading"><%= @applied_jobs.present? ? "Jobs you've applied for (#{@applied_jobs.size})" : "" %></h2>
    <div class="box-job">
      <ul>
        <% @applied_jobs.each do |job| %>
          <li>
            <div class="equal-height" style="height: 314px;">
              <div class="box-heading">
                <div class="box-header">
                  <h2 class="job-heading"><%= link_to (job.title.truncate(16) || ""), job_path(job)%></h2>
                  <h3 class="job-sub-heading" data-toggle="tooltip" data-placement="bottom" title="<%= job.industry.present? ? job.industry.title : '' %>"><%= job.industry.present? ? job.industry.title.truncate(10) : '' %></h3>
                  <div class="about-job <%= job.status_string %>"><%= job.status %></div>
                </div>
              </div>
              <div class="job-discription">
                <%if job.interview.interview_schedules.where(user_id: current_user.id).present? and job.interview.interview_schedules.where(user_id: current_user.id).first.client_comments.present?%>
                  <h3>Client Comment &nbsp;&nbsp;</h3>
                  <p data-toggle="tooltip" data-placement="bottom" title="<%= job.interview.interview_schedules.where(user_id: current_user.id).first.client_comments.last.comment %>"><%= job.interview.interview_schedules.where(user_id: current_user.id).last.client_comments.first.comment.truncate(20) %></p>
                <%end%>
                <div class="job-status">
                  <h3>status</h3>
                  <h3>Reviewed by client?</h3>
                  <p><%=reviewed_by(@reviews,job)%></p>
                  <h3>Submitted to client?</h3>
                  <p><%=cv_download(@reviews,job)%></p>
                </div>
              </div>
            </div>
            <%@last_stage = job.interview.interview_schedules.where(user_id: current_user.id).maximum('stage')%>
            <div class='box-footer'>
              <ul class='d-block'>
                <h3 style="margin-left: 15px;">
                Interview Status&nbsp;&nbsp;&nbsp;<a href='##' style='display: inline-block;' data-job="<%= job.id %>" onclick="candidateInterviewSchedulePopUp(this);">view</a></h3>
                <%dates = job.interview.interview_schedules.where(user_id: current_user.id).collect{|i| {"#{i.stage}"=>i.interview_avail_dates.present? ? i.interview_avail_dates["interview_avail_date1"] : ''}}%>
                <div class="stepwizard">
                  <div class="stepwizard-row">
                    <div class="stepwizard-step">
                      <button type="button" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="top" title="<%= populate_date_for_tooltip(dates,"1")%>">
                        <%if @last_stage.present? and @last_stage >= 1%>
                          <i class="fas fa-check"></i>
                        <%end%>
                      </button>
                      <p>1st</p>
                    </div>
                    <div class="stepwizard-step">
                      <button type="button" class="btn btn-default btn-circle"  data-toggle="tooltip" data-placement="top" title="<%= populate_date_for_tooltip(dates,"2")%>">
                        <%if @last_stage.present? and @last_stage >= 2%>
                          <i class="fas fa-check"></i>
                        <%end%>
                      </button>
                      <p>2nd</p>
                    </div>
                    <div class="stepwizard-step">
                      <button type="button" class="btn btn-default btn-circle"  data-toggle="tooltip" data-placement="top" title="<%= populate_date_for_tooltip(dates,"3")%>">
                        <%if @last_stage.present? and @last_stage >= 3%>
                          <i class="fas fa-check"></i>
                        <%end%>
                      </button>
                      <p>3rd</p>
                    </div>
                    <div class="stepwizard-step">
                      <button type="button" class="btn btn-default btn-circle"  data-toggle="tooltip" data-placement="top" title="<%= populate_date_for_tooltip(dates,"4")%>">
                        <%if @last_stage.present? and @last_stage >= 4%>
                          <i class="fas fa-check"></i>
                        <%end%>
                      </button>
                      <p>4th</p>
                    </div>
                    <div class="stepwizard-step">
                      <button type="button" class="btn btn-default btn-circle"  data-toggle="tooltip" data-placement="top" title="<%= populate_date_for_tooltip(dates,"5")%>">
                        <%if @last_stage.present? and @last_stage >= 5%>
                          <i class="fas fa-check"></i>
                        <%end%>
                      </button>
                      <p>5th</p>
                    </div>

                  </div>
                </div>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!-- interview round -->
<div class="modal fade interview-round" id="interview-round">

</div>

<div class="modal fade schedule-interview" id="candidate-feedback">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
    <div class="modal-header d-block text-center">
      <h3 id="comment-heading">Candidate Feeback</h3>
      <a href="#" class="close" data-dismiss="modal">close</a>
      <a href="#" class="arrow" data-dismiss="modal">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <%= form_tag candidate_feedback_interview_schedules_path,remote: true do %>
        <%= hidden_field_tag :schedule_id,  ''%>
        <%= hidden_field_tag :feedback_id,'' %>


        <div class="form-group">
          <div class="col-md-12">
            <%= text_field_tag :feedback,nil, class: "result form-control",:placeholder=>"Candidate feeback"%>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-9">
              <%= submit_tag "submit",class: "btn btn-primary"%>
              </div>
            </div>
          <% end %>
        </div>

      </div>
     </div>
   </div>
