<% unless flash[:error].nil? %>
  <p class="error-msg"> <%= flash[:error] %> </p>
<%end%>
<% industries = [] %>
<% job_counts = [] %>
<% @industries.each do |industry| %>
  <% count = 0 %>
  <% industry.jobs.where(user_id: current_user.id).each do |job| %>
    <%# users = UserJob.all.collect {|k| k.job_ids.include?(job.id) ? User.find(k.user_id) : []}.flatten %>
    <%users = job.candidates%>
    <% users.each do |user| %>
      <% if user.present?%>
        <% industries << industry if count == 0 %>
        <% count += 1 %><% end %>
    <% end %>
  <% end %>
  <% job_counts << count if count > 0 %><% end %>

<div class="col-md-10" id="content-container" style="background-color:#f1f1f1;">
  <% industries.each_with_index do |industry, i| %>
    <% if industry.jobs.where(user_id: current_user.id).count > 0 %>
      <!-- List the Jobs application according to Industry -->
      <div class="row">
        <div class="col-md-12" style="border-bottom:1px solid #fff;">
          <div class="job-right">
            <h2 class="heading">
              <a href="#" data-toggle="collapse" data-target="#collapse-<%= industry.id %>">
                <%= industry.title %>
                (<%= job_counts[i] %>)
              </a>
            </h2>
            <div id="collapse-<%= industry.id %>" class="collapse-panel collapse show">
              <div class="box-job">
                <ul>
                  <% industry.jobs.where(user_id: current_user.id).each do |job| %>
                    <!-- start of application -->
                    <%# recived_applications = UserJob.all.collect {|k| k.job_ids.include?(job.id) ? User.find(k.user_id) : []}.flatten %>
                    <%recived_applications = job.candidates%>
                    <% recived_applications.each do |user| %>
        <%# user = users.first %>
                      <% next unless user.present? %>
                      <% resume = user.resumes.first %>
                      <%if job.interview.present?%>
                        <li>
                          <div class="equal">
                            <div class="box-heading">
                              <div class="box-header">
                                <div class="name">
                                  <%= user.first_name[0] %>
                                  <% if user.last_name %><%= user.last_name[0] %>
                                  <% end %>
                                </div>

                                <div class="detail">
                                  <h2 class="job-heading">
                                    <%= link_to "#{user.first_name} #{user.last_name}", job_path(job) %>
                                  </h2>
                                  <h3 class="job-sub-heading">
                                    <a href="mailto:<%= user.email %>"><%= user.email %></a>
                                  </h3>
                                  <% if resume.present? %>
                                    <div class="about-job">
                                      <%= link_to "#{File.extname(resume.cv_file_name)}".gsub(".","").upcase, download_resume_path(resume), target: "_blank", style: "color:#122FB8", title: "#{resume.cv_file_name}" %>
                                    </div>
                                  <% end %>
                                </div>
                                <!-- <h2 class="job-heading"><%= link_to (job.title || ""), job_path(job)%></h2> -->
                                <!-- <h3 class="job-sub-heading"><%= job.industry.present? ? job.industry.title : '' %></h3> -->

                              </div>

                              <div class="job-option text-center float-right">
                                <a href="#" id="options" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                  </ul>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="options">
                                  <%= link_to 'Create Interview Stage', job_path(job), class: "dropdown-item" %>
                                    <% if job.open? %>
                                      <%= link_to 'Close the job', close_job_path(id: job.id), class: 'dropdown-item jobs-action', id: "job_#{job.id}" %>
                                      <% else %>
                                        <%= link_to 'Open the job', open_job_path(id: job.id), class: 'dropdown-item jobs-action', id: "job_#{job.id}" %>
                                        <% end %>
                                        <%= link_to "Accept", accept_job_path(id:job.id, user_id:user.id) , method: :post %>
                                        <%= link_to "Reject", reject_job_path(id:job.id, user_id:user.id) , method: :post %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="job-discription">
                                  <h3>job description</h3>
                                  <p><%= job.description %></p>
                                    </div>
                                  <div class="job-discription">
                                    <div class="hori-divi"></div>
                                      <div class="interview-notes">
                                      <%= new_desing_meeting_with(job, user.id)%>
                                      <%@last_stage = @job.interview.interview_schedules.maximum('stage')%>
                                    </div>
                                  </div>
                                </div>
                                <div class="box-footer">
                                  <ul class="d-block">
                                    <h3>Interview schedule &nbsp;&nbsp;&nbsp;<a href="##" data-job="<%= @job.id %>" onclick="populateInterviewSchedulePopUp(this);">View</a>
                                    </h3>
                                    <%dates = @job.interview.interview_schedules.collect{|i| {"#{i.stage}"=>i.interview_avail_dates.present? ? i.interview_avail_dates["interview_avail_date1"] : ''}}%>
                                    <div class="stepwizard">
                                      <div class="stepwizard-row">
                                        <div class="stepwizard-step">
                                          <button type="button" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="top" title="<%= populate_date_for_tooltip(dates,"1")%>">
                                            <i class="fas fa-check"></i>
                                          </button>
                                          <p>1st</p>
                                        </div>
                                        <div class="stepwizard-step">
                                          <button type="button" class="btn btn-default btn-circle"  data-toggle="tooltip" data-placement="top" title="<%= populate_date_for_tooltip(dates,"2")%>">
                                            <%if @last_stage.present? and @last_stage >= 2%>
                                              <i class="fas fa-check"></i>
                                            <%end%>
                                          </button>
                                          <p>2nd</p>
                                        </div>
                                        <div class="stepwizard-step">
                                          <button type="button" class="btn btn-default btn-circle"  data-toggle="tooltip" data-placement="top" title="<%= populate_date_for_tooltip(dates,"3")%>">
                                            <%if @last_stage.present? and @last_stage >= 3%>
                                              <i class="fas fa-check"></i>
                                            <%end%>
                                          </button>
                                          <p>3rd</p>
                                        </div>
                                        <div class="stepwizard-step">
                                          <button type="button" class="btn btn-default btn-circle"  data-toggle="tooltip" data-placement="top" title="<%= populate_date_for_tooltip(dates,"4")%>">
                                            <%if @last_stage.present? and @last_stage >= 4%>
                                              <i class="fas fa-check"></i>
                                            <%end%>
                                          </button>
                                          <p>4th</p>
                                        </div>
                                        <div class="stepwizard-step">
                                          <button type="button" class="btn btn-default btn-circle"  data-toggle="tooltip" data-placement="top" title="<%= populate_date_for_tooltip(dates,"5")%>">
                                            <%if @last_stage.present? and @last_stage >= 5%>
                                              <i class="fas fa-check"></i>
                                            <%end%>
                                          </button>
                                          <p>5th</p>
                                        </div>

                                      </div>
                                    </div>
                                  </ul>
                                  <!-- <%= new_desing_interview_stage_client_section(job, user.id )%> -->
                                </div>
                              </li>
                            <%end%>
                            <!-- end of application -->
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

        <!-- interview round -->
        <div class="modal fade interview-round" id="interview-round">

        </div>

        <div class="modal fade schedule-interview" id="schedule-interview">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header d-block text-center">
                <h3>Interview Schedule</h3>
                <a href="#" class="close" data-dismiss="modal">close</a>
                <a href="#" class="arrow" data-dismiss="modal">
                  <i class="fas fa-arrow-left"></i>
                </a>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <%= form_tag interview_schedules_path do %>
                  <%= hidden_field_tag :interview_id,'' %>
                  <%= hidden_field_tag :scheds_id, ''%>
                  <%= hidden_field_tag :user_id, @user.id%>
                  <%= hidden_field_tag :date_count, 1%>
                  <div class="form-group stage-field">
                    <div class="col-md-12">
                      <%= text_field_tag :stage,nil, :class=> "form-control" , readonly: true%>
                    </div>
                  </div>

                  <div class="form-group interviewer-names-field">
                    <div class="col-md-12">
                      <%= text_field_tag :interviewer_names, nil, :class=> "form-control",:placeholder=>"Interviewer names"%>
                    </div>
                  </div>
                  <!--<div id="dates">

                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <a href="javascript:void(0)" id="add_interview_dates" class="btn btn-info">Add Interview Dates</a>
                    </div>
                  </div>-->
                  <div class="form-group" id="date1">
                    <label for="reason" class="col-md-3 control-label"> Date1</label>
                    <div class="col-md-9">
                      <input name="interview_avail_date1" id="interview_avail_date1" class="form-control avail_date" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-9">
                      <%= submit_tag "submit",class: "btn btn-primary"%>
                      </div>
                    </div>
                  <% end %>
                </div>

              </div>
            </div>
          </div>

          <div class="modal fade schedule-interview" id="client-comment">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header d-block text-center">
                  <h3 id="comment-heading">Comment</h3>
                  <a href="#" class="close" data-dismiss="modal">close</a>
                  <a href="#" class="arrow" data-dismiss="modal">
                    <i class="fas fa-arrow-left"></i>
                  </a>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <%= form_tag client_comment_interview_schedules_path do %>
                    <%= hidden_field_tag :sched_id,  ''%>
                    <%= hidden_field_tag :comment_id,'' %>


                    <div class="form-group">
                      <div class="col-md-12">
                        <%= text_field_tag :comment,nil, class: "result form-control",:placeholder=>"Comment"%>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-9">
                          <%= submit_tag "submit",class: "btn btn-primary"%>
                          </div>
                        </div>
                      <% end %>
                    </div>

                  </div>
                </div>
              </div>


              <script>
                $("#interview_avail_date1").datetimepicker({
                  defaultTime: '09:00'
                });
                function DateSetup(dates, key, val)
                {
                  var html = "<div class='form-group' id='date" + val + "'><label for='reason' class='col-md-3 control-label'> <%='Date'%>" + val + "</label><div class='col-md-9'><%= escape_javascript text_field_tag 'interview_avail_date',nil ,:class=>"form-control avail_date"%></div></div>";
                  $('#dates').append(html)
                  $("#date" + val + " .avail_date").attr('name', 'interview_avail_date' + val)
                  $("#date" + val + " .avail_date").attr('id', 'interview_avail_date' + val);
                  $("#date" + val + " .avail_date").val(dates[key]);
                  $("#interview_avail_date" + val).datetimepicker();
                }



                var count = 0;
                $("#add_interview_dates").click(function () {
                  var val = ($(".avail_date").length + 1) //|| ++count;
                  count++
                  if (count == 1) {
                    var html = "<div class='form-group' id='date" + val + "'><label for='reason' class='col-md-3 control-label'> <%='Date'%>" + val + "</label><div class='col-md-9'><%= escape_javascript text_field_tag 'interview_avail_date',nil ,:class=>"form-control avail_date"%></div></div>";
                    $('#dates').append(html)
                    $("#date" + val + " .avail_date").attr('name', 'interview_avail_date' + val)
                    $("#date" + val + " .avail_date").attr('id', 'interview_avail_date' + val);
                    $("#interview_avail_date" + val).datetimepicker({
                      defaultTime: '09:00'
                    });
                    $("#date_count").val(val)
                    $("#add_interview_dates").hide()
                  } else {
                    $('#date1').show();
                  }
                });


              </script>
