<% industries = [] %>
<% job_counts = [] %>
<% @industries.each do |industry| %>
  <% count = 0 %>
  <% industry.jobs.each do |job| %>
    <% users = UserJob.all.collect {|k| k.job_ids.include?(job.id) ? User.find(k.user_id) : []}.flatten %>
    <% users.each do |user| %>
    <% if user.present?%>
      <% industries << industry if count == 0 %>
      <% count += 1 %>
    <% end %>
    <% end %>
  <% end %>
  <% job_counts << count if count > 0 %>
<% end %>


 <div class="col-md-10" style="background-color:#f1f1f1;">
  <% industries.each_with_index do |industry, i| %>
    <% if industry.jobs.count > 0 %>
      <!-- List the Jobs application according to Industry -->
      <div class="row">
           <div class="col-md-12" style="border-bottom:1px solid #fff;">
              <div class="job-right">
                <h2 class="heading">
                  <a href="#" data-toggle="collapse" data-target="#collapse-<%= industry.id %>">
                    <%= industry.title %> (<%= job_counts[i] %>)
                  </a>
                </h2>
                  <div id="collapse-<%= industry.id %>" class="collapse-panel collapse show">
                    <div class="box-job">
                       <ul>
                          <% industry.jobs.each do |job| %>
                          <!-- start of application -->
                          <% recived_applications = UserJob.all.collect {|k| k.job_ids.include?(job.id) ? User.find(k.user_id) : []}.flatten %>
                          <% recived_applications.each do |user| %>
                            <%# user = users.first %>
                            <% next unless user.present? %>
                            <% resume = user.resumes.first %>
                          <li> 
                               <div class="equal">
                                  <div class="box-heading">
                                     <div class="box-header">
                                        <div class="name">
                                          <%= user.first_name[0] %><% if user.last_name %><%= user.last_name[0] %><% end %>
                                        </div>
                                        <div class="detail">
                                          <h2 class="job-heading">
                                            <%= link_to "#{user.first_name} #{user.last_name}", job_path(job) %>
                                          </h2>
                                          <h3 class="job-sub-heading">
                                            <a href="mailto:<%= user.email %>"><%= user.email %></a>
                                          </h3>
                                           
                                          <% if resume.present? %>
                                           <div class="about-job">
                                              <%= link_to "#{resume.cv_file_name}".truncate(10).humanize, download_resume_path(resume),  target: "_blank", style: "color:#203CC4", title: "#{resume.cv_file_name}" %>
                                           </div>
                                       <% end %>
                                        </div>
                                     </div>
                                     <div class="job-option text-center float-right">
                                        <a href="#" id="options" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                           <ul>
                                              <li></li>
                                              <li></li>
                                              <li></li>
                                           </ul>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="options">
                                          <%= link_to 'Create interview', job_path(job), class: "dropdown-item" %>
                                          <% if job.open? %>
                                            <%= link_to 'Close the job', close_job_path(id: job.id), class: 'dropdown-item jobs-action', id: "job_#{job.id}" %>
                                          <% else %>
                                            <%= link_to 'Open the job', open_job_path(id: job.id), class: 'dropdown-item jobs-action', id: "job_#{job.id}" %>
                                          <% end %>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="job-discription">
                                     <div class="hori-divi"></div>
                                     <%= new_desing_add_comment(job, user.id)%>
                                  </div>
                               </div>
                               <div class="box-footer">
                                  <%= new_desing_interview_stage_client_section(job, user.id )%>
                               </div>
                            </li>
                          <!-- end of application -->
                          <% end %>
                          <% end %>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    <% end %>  
  <% end %>


<div id="myModalMeeting" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= render partial: "interview_schedules/meeting" %>
  </div>
</div>


<div id="myModalComment" class="modal">
<div class="modal-content">
<span class="close">&times;</span>
<%= render partial: "interview_schedules/client_comment" %>
</div>
</div>

<script type="text/javascript">
var modal = document.getElementById('myModalMeeting');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

function meeting_with(id,result)
{

  $("#myModalMeeting").show()
  $("#review_id").val(id)
  $("#meeting").val(result)
}

function show(id,comment_id,result)
{
  $("#myModalComment").show()
  // modal.style.display = "block";
  $("#sched_id").val(id)
  $("#comment_id").val(comment_id)
  $(".result").val(result)
}

$(document).ready(function(){
  $('.close').click(function(){
    $('.modal .avail_date').closest('.form-group').remove()
   $('.modal').hide()
  })
})
   
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
      $('.modal').hide()
    }
}
</script>
<style type="text/css">
  .td_align{
    text-align: center;
  }
  .table.table-bordered td a{
    display: block;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 500px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
