<div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="background-color:#f1f1f1;">
        <div class="job-right">
          <div class="detail-page-custom-design">
          	<ul>
          		<li>
          			<h4>Name:</h4>
          			<p><%= @user.first_name %></p>
          		</li>
          		<li>
          			<h4>Email:</h4>
                    <p><%= @user.email %></p>
          		</li>
          		<li>
          			<h4>Contact No:</h4>
                    <p><%= @user.contact_no %></p>
          		</li>
          		<li>
          			<h4>Current Location:</h4>
                    <p><%= @user.try(:current_location) %></p>
          		</li>
          		<li>
          			<h4>Salary Expectations:</h4>
                    <p><%= @user.try(:salary_expectation) %></p>
          		</li>
          		<li>
          			<%if params[:job_id].present?%>
				    	<%= link_to "Download Candidate Resumes",{:controller => "resumes", :action => "index", :user_id => @user.id, job_id: @job.id},  class: " btn btn-primary" %>
				    	<% end %>
          		</li>
          	</ul>

          </div>
      </div>
  </div>
</div>
</div>
