<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to root_url, class: 'navbar-brand' do %>
    <%= image_tag 'new_ui/logo-img.png', alt: 'logo', class: 'img-fluid' %>
    yourcube
  <% end %>
  <%= button_tag class: 'navbar-toggler', data: { toggle: 'collapse', target: '#navbarSupportedContent' }, aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' } do %>
    <span class="navbar-toggler-icon"></span>
  <% end %>

  <div class=" container navigation">
    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
      <form class="form-inline loc-search-form col-md-2">
        <div class="form-group">
          <select class="form-control" id="sel1">
            <option>Select location</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </form>
      <form class="form-inline loc-search-form col-md-8">
        <div class="form-group search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn srch-btn" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </form>
      <ul class="navbar-nav ml-auto col-md-2">
        <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-user"></i></a></li>
        <li class="nav-item <%= 'dropdown' if current_user.present? %>">
          <% if current_user.present? %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          <% else %>
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="modal" data-target="#myModal">Sign In
            </a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!---- header end ------>

<!---- slider ------>

<div class="header-slider">
  <div class="slides first">
    <div class="container">
      <div class="slide-content">
        <h2>Engage with top talent in a completely different way than before</h2>
        <p>Manage risks, communicate better, be aware of external competition, showcase the culture of your organisation.</p>
        <a href="#" data-toggle="modal" data-target="#myModal">Sign up</a>
      </div>
    </div>
  </div>
  <div class="slides second">
    <div class="container">
      <div class="slide-content">
        <h2>Engage with top talent in a completely different way than before</h2>
        <p>Manage risks, communicate better, be aware of external competition, showcase the culture of your organisation.</p>
        <a href="#" data-toggle="modal" data-target="#myModal">Sign up</a>
      </div>
    </div>
  </div>
  <div class="slides third">
    <div class="container">
      <div class="slide-content">
        <h2>Engage with top talent in a completely different way than before</h2>
        <p>Manage risks, communicate better, be aware of external competition, showcase the culture of your organisation.</p>
        <a href="#" data-toggle="modal" data-target="#myModal">Sign up</a>
      </div>
    </div>
  </div>
</div>

<!---- slider end ------>
<div class="container-fluid">
  <div class="under-slider-four-sec row">
    <div class="common-sec col-md-6">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-1.png', alt: 'icon-1', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Security at first</h2></div>
        <div class="col-md-8"><p>Have all the workflow data, including dates, diaries and feedback stored in the cloud. As well as a central depository for CVs and Job descriptions.</p></div>
      </div>
    </div>

    <div class="common-sec col-md-6" style="background-color:#f1f1f1;">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-2.png', alt: 'icon-2', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Total control</h2></div>
        <div class="col-md-8"><p>Manage the recruitment process across all sites anywhere in the world. Unrestricted by diferent time zones to get things done.</p></div>
      </div>
    </div>

    <div class="common-sec col-md-6" style="background-color:#f1f1f1;">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-3.png', alt: 'icon-3', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Nothing is missed</h2></div>
        <div class="col-md-8"><p>Have an automated email notification system when applicants arrive, new interviews are added or new feedback is received.</p></div>
      </div>
    </div>

    <div class="common-sec col-md-6">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-4.png', alt: 'icon-4', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Get better</h2></div>
        <div class="col-md-8"><p>Create better data analytics for Executive Management. See where processes can be improved from salaries to talent management.</p></div>
      </div>
    </div>
  </div></div>



<!----- footer ----->

<footer class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="foot-left-prt">
        <%= image_tag 'new_ui/color-logo.png', alt: 'icon-1', class: 'img-fluid' %> TM
      </div>
    </div>
    <div class="col-md-6 text-center">
      <ul class="foot-menu">
        <li><a href="#">The platform</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="col-md-3 text-right">
      <ul class="foot-menu">
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</footer>


<!----- footer end ---->




<!-- The Modal 1 -->
<div class="modal fade popup-1" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">sign in</a>
          </li>
        </ul>
        <a href="#" class="close" data-dismiss="modal">close</a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active show" id="profile">
            <form class="sign-up-form">
              <div class="candi-client text-center">
                <div class="radio">
                  <label><input type="radio" name="optradio">&nbsp;&nbsp;candidate</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio">&nbsp;&nbsp;client</label>
                </div>
              </div>
              <div class="name-field">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Contact Number">
              </div>
              <div class="form-group">
                <select class="form-control" id="sel1">
                  <option>Location Preferred</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Salary Sought*">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password (6 characters minimum)">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password confirmation">
              </div>
              <button type="submit" class="btn log-in-btn">sign up</button>
            </form>
          </div>




          <div role="tabpanel" class="tab-pane fade" id="buzz">
            <form class="log-in-form">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="pwd" placeholder="password">
              </div>
              <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox"> Remember me
                </label>
              </div>
              <button type="submit" class="btn log-in-btn">log in</button>
              <a href="#">forget your password?</a>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>






<!-- The Modal 2 -->
<div class="modal fade popup-1" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">close</a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="sign-up-form edit-profile">
          <div class="candi-client text-center">
            Edit Profile
          </div>
          <div class="name-field">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Contact Number">
          </div>
          <div class="form-group">
            <select class="form-control" id="sel1">
              <option>Location Preferred</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Salary Sought*">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password (6 characters minimum)">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password confirmation">
          </div>
          <button type="submit" class="btn log-in-btn">save</button>
        </form>
      </div>

    </div>
  </div>
</div>