<div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="background-color:#f1f1f1;">
        <div class="job-right">
          <h2 class="heading">Administrate Jobs</h2>
          <div class="box-job result">
            <% if !@search.blank? %> 
            <ul>
              <% @search.each do |search| %>
              <li>
                <div class="equal-height search-equal-height">
                  <div class="box-heading">
                    <div class="box-header">
                      <div class="name"><% if search.title %><%= search.title.split[0][0] %><% if search.title.split[1] %><%= search.title.split[1][0] %><% end %><% end %></div>
                       <div class="detail"><h2 class="job-heading"><%= search.title%></h2>
                      <div class="about-job"><%= link_to search.document_file_name, download_job_path(search),  target: "_blank" if search.document.present? %></div>
                    </div></div>
                    <div class="job-option text-center float-right job-in-search">
                      <a href="#" id="options" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><ul>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul></a>
                      <div class="dropdown-menu" aria-labelledby="options">
                        <a class="dropdown-item" href="#">Create interview</a>
                        <a class="dropdown-item" href="#">Close the job</a>
                      </div>
                    </div>
                  </div>
                  <div class="job-discription">
                    <div class="hori-divi"></div>
                    <h3>Interview notes &nbsp;&nbsp;<a href="#">Edit</a></h3>
                    <p><%= search.description.truncate(300)%></p>
                  </div>
                </div>
                <div class="box-footer">
                  <%= link_to 'view detail', search  %>
                </div>
              </li>
              <% end %>
              </ul>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>