<div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="background-color:#f1f1f1;">
        <div class="job-right">
          <h2 class="heading">Candidates: </h2>
          <div class="box-job result custom-height-div">
            <% if !@users.blank? %> 
            <ul>
              <% @users.each do |user| %>
              <li>
                <div class="equal-height search-equal-height custom-height-search-result">
                  <div class="box-heading">
                    <div class="box-header">
                      <div class="name"><%= user.first_name[0] %><% if user.last_name %><%= user.last_name[0] %><% end %></div>
                       <div class="detail"><h2 class="job-heading"><%= user.first_name %><% user.last_name %></h2>
                    </div>
                </div>
                  </div>
                  <div class="job-discription-less-custom">
                    <p><%= user.email %></p>
                  </div>
                </div>
                <div class="box-footer">
                	<a href="/users/<%=user.id%>/user_profile?job_id=<%=user.jobs.first%>&review=true">view</a>
                  <%# link_to 'view', user_path %>
                </div>
              </li>
              <% end %>
              </ul>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

