<% if user_signed_in? %>
<% if current_user.client? %>
<% if request.path.include? "dashboard" and current_user.candidate? %>
<nav class="navbar navbar-expand-lg navbar-light head-2">
   <a class="navbar-brand" href="/">
   <%= image_tag 'new_ui/logo-img.png', alt: 'logo', class: 'img-fluid' %> <span id="company-logo">yourcube</span>
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class=" container navigation">
      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
         <%= form_tag search_candidate_path, :method=> :post, class: 'form-inline loc-search-form col-md-10' do %>
         <div class="col-md-1">
            <div class="form-group">
               <div id="navbar-collapse-btn" style="font-size:30px;cursor:pointer">
                  <ul class="custom-togg">
                     <li></li>
                     <li></li>
                     <li></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-11">
            <div class="form-group search">
               <div class="col-md-4">
                  <%= select_tag "category", options_from_collection_for_select(Industry.all, "id", "title", params[:category].to_i),class: '', id: 'sel1', :prompt => 'Select Job Category' %>
               </div>
               <div class="col-md-7">
                  <%= text_field_tag :search, '', class: 'form-control', value: params[:search],placeholder: 'Search', aria: { label: 'Search' } %>
                  <%= button_tag class: 'btn srch-btn' do %>
                  <i class="fas fa-search"></i>
               </div>
               <% end %>
            </div>
         </div>
         <% end %>
         <% if current_user.present? %>
         <ul class="navbar-nav ml-auto col-md-2">
            <li>
               <a href="#" data-toggle="modal" data-target="#edit_profile_modal">
                 <% if current_user.image.url.present? && !current_user.image_file_name.nil? %>
                  <%= image_tag current_user.image.url, size:"50x50", style:"border-radius: 50%;" %>
                 <% else %>
                 <i class="fas fa-user"></i>
                 <% end %>
               </a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %>
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "Go to Dashboard", users_dashboard_path, class: 'dropdown-item' %>
                  <% unless current_user.candidate? %>
                  <%= link_to "Reports", client_reports_path, class: 'dropdown-item' %>
                  <%= link_to "Create Job", new_job_path, class: 'dropdown-item' %>
                  <%= link_to "Administrate Jobs", jobs_path, class: 'dropdown-item' %>
                  <% end %>
                  <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_profile_modal">Edit Profile
                  </a>
                  <!-- <%= link_to "Edit", edit_user_registration_path, class: 'dropdown-item' %> -->
                  <%= link_to "Logout", destroy_user_session_path, class: 'dropdown-item' %>
               </div>
            </li>
         </ul>
         <% else %>
         <ul class="navbar-nav ml-auto col-md-2" id="log-in-form-btn">
            <li>
               <a href="#">
               <i class="fas fa-user"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#" id="navbarDropdown" role="button">
               Sign In
               </a>
            </li>
         </ul>
         <% end %>
      </div>
   </div>
</nav>
<% else %>
<nav class="navbar navbar-expand-lg navbar-light">
   <%= link_to '/', class: 'navbar-brand' do %>
   <%= image_tag 'new_ui/logo-img.png', alt: 'logo', class: 'img-fluid' %>
   <span id="company-logo">yourcube</span>
   <% end %>
   <%= button_tag class: 'navbar-toggler', data: { toggle: 'collapse', target: '#navbarSupportedContent' }, aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' } do %>
   <span class="navbar-toggler-icon"></span>
   <% end %>
   <div class=" container navigation">
      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
         <%= form_tag search_candidate_path, :method=> :post, class: 'form-inline loc-search-form col-md-10' do %>
         <div class="col-md-1">
            <div class="form-group">
               <div id="navbar-collapse-btn" style="font-size:30px;cursor:pointer">
                  <ul class="custom-togg">
                     <li></li>
                     <li></li>
                     <li></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-11">
            <div class="form-group search">
               <div class="col-md-4">
                  <%= text_field_tag "search_candidate" ,params[:search_candidate],:class=>"form-control", :placeholder=>"Search Candidates"%>
               </div>
               <div class="col-md-7">
                  <%= text_field_tag "location_search" ,params[:location_search],:class=>"form-control", :placeholder=>" Search Location "%>
                  <%= button_tag class: 'btn srch-btn' do %>
                  <i class="fas fa-search"></i>
               </div>
               <% end %>
            </div>
         </div>
         <% end %>
         <% if current_user.present? %>
         <ul class="navbar-nav col-md-2">
            <li>
               <a href="#" data-toggle="modal" data-target="#edit_profile_modal">
                 <% if current_user.image.url.present? && !current_user.image_file_name.nil? %>
                  <%= image_tag current_user.image.url, size:"50x50", style:"border-radius: 50%;" %>
                 <% else %>
                 <i class="fas fa-user"></i>
                 <% end %>
               <!-- <i class="fas fa-user"></i> -->
               </a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %>
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "Go to Dashboard", users_dashboard_path, class: 'dropdown-item' %>
                  <% unless current_user.candidate? %>
                  <%= link_to "Reports", client_reports_path, class: 'dropdown-item' %>
                  <%= link_to "Create Job", new_job_path, class: 'dropdown-item' %>
                  <%= link_to "Administrate Jobs", jobs_path, class: 'dropdown-item' %>
                  <% end %>
                  <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_profile_modal">Edit Profile
                  </a>
                  <!-- <%= link_to "Edit", edit_user_registration_path, class: 'dropdown-item' %> -->
                  <%= link_to "Logout", destroy_user_session_path, class: 'dropdown-item' %>
               </div>
            </li>
         </ul>
         <% else %>
         <ul class="navbar-nav ml-auto col-md-2" id="log-in-form-btn">
            <li>
               <a href="#">
               <i class="fas fa-user"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#" id="navbarDropdown" role="button">
               Sign In
               </a>
            </li>
         </ul>
         <% end %>
      </div>
   </div>
</nav>
<% end %>
<% elsif current_user.candidate? %>
<% if request.path.include? "dashboard" %>
<nav class="navbar navbar-expand-lg navbar-light head-2">
   <%= link_to '/', class: 'navbar-brand' do %>
   <%= image_tag 'new_ui/logo-img.png', alt: 'logo', class: 'img-fluid' %>
   <span id="company-logo">yourcube</span>
   <% end %>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class=" container navigation">
      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
         <%= form_tag welcome_search_path, :method=> :post, class: 'form-inline loc-search-form col-md-10' do %>
         <div class="col-md-1">
            <div class="form-group">
               <div id="navbar-collapse-btn" style="font-size:30px;cursor:pointer">
                  <ul class="custom-togg">
                     <li></li>
                     <li></li>
                     <li></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-11">
            <div class="form-group search">
               <div class="col-md-4">
                  <%= select_tag "category", options_from_collection_for_select(Industry.all, "id", "title", params[:category].to_i),class: '', id: 'sel1', :prompt => 'Select Job Category' %>
               </div>
               <div class="col-md-7">
                  <%= text_field_tag :search, '', class: 'form-control', value: params[:search],placeholder: 'Search', aria: { label: 'Search' } %>
                  <%= button_tag class: 'btn srch-btn' do %>
                  <i class="fas fa-search"></i>
               </div>
               <% end %>
            </div>
         </div>
         <% end %>
         <% if current_user.present? %>
         <ul class="navbar-nav ml-auto col-md-2">
            <li>
               <a href="#" data-toggle="modal" data-target="#edit_profile_modal">
                 <% if current_user.image.url.present? && !current_user.image_file_name.nil? %>
                  <%= image_tag current_user.image.url, size:"50x50", style:"border-radius: 50%;" %>
                 <% else %>
                 <i class="fas fa-user"></i>
                 <% end %>
               <!-- <i class="fas fa-user"></i> -->
               </a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %>
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "Go to Dashboard", users_dashboard_path, class: 'dropdown-item' %>
                  <% unless current_user.candidate? %>
                  <%= link_to "Reports", client_reports_path, class: 'dropdown-item' %>
                  <%= link_to "Create Job", new_job_path, class: 'dropdown-item' %>
                  <%= link_to "Administrate Jobs", jobs_path, class: 'dropdown-item' %>
                  <% end %>
                  <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_profile_modal">Edit Profile
                  </a>
                  <!-- <%= link_to "Edit", edit_user_registration_path, class: 'dropdown-item' %> -->
                  <%= link_to "Logout", destroy_user_session_path, class: 'dropdown-item' %>
               </div>
            </li>
         </ul>
         <% else %>
         <ul class="navbar-nav ml-auto col-md-2" id="log-in-form-btn">
            <li>
               <a href="#">
               <i class="fas fa-user"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#" id="navbarDropdown" role="button">
               Sign In
               </a>
            </li>
         </ul>
         <% end %>
      </div>
   </div>
</nav>
<% else %>
<nav class="navbar navbar-expand-lg navbar-light">
   <%= link_to '/', class: 'navbar-brand' do %>
   <%= image_tag 'new_ui/logo-img.png', alt: 'logo', class: 'img-fluid' %>
   <span id="company-logo">yourcube</span>
   <% end %>
   <%= button_tag class: 'navbar-toggler', data: { toggle: 'collapse', target: '#navbarSupportedContent' }, aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' } do %>
   <span class="navbar-toggler-icon"></span>
   <% end %>
   <div class=" container navigation">
      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
         <%= form_tag welcome_search_path, :method=> :post, class: 'form-inline loc-search-form col-md-10' do %>
         <div class="col-md-1">
            <div class="form-group">
               <div id="navbar-collapse-btn" style="font-size:30px;cursor:pointer">
                  <ul class="custom-togg">
                     <li></li>
                     <li></li>
                     <li></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-11">
            <div class="form-group search">
               <div class="col-md-4">
                  <%= select_tag "category", options_from_collection_for_select(Industry.all, "id", "title", params[:category].to_i),class: '', id: 'sel1', :prompt => 'Select Job Category' %>
               </div>
               <div class="col-md-7">
                  <%= text_field_tag :search, '', class: 'form-control', value: params[:search],placeholder: 'Search', aria: { label: 'Search' } %>
                  <%= button_tag class: 'btn srch-btn' do %>
                  <i class="fas fa-search"></i>
               </div>
               <% end %>
            </div>
         </div>
         <% end %>
         <% if current_user.present? %>
         <ul class="navbar-nav col-md-2">
            <li>
               <a href="#" data-toggle="modal" data-target="#edit_profile_modal">
                 <% if current_user.image.url.present? && !current_user.image_file_name.nil? %>
                  <%= image_tag current_user.image.url, size:"50x50", style:"border-radius: 50%;" %>
                 <% else %>
                 <i class="fas fa-user"></i>
                 <% end %>
               <!-- <i class="fas fa-user"></i> -->
               </a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %>
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "Go to Dashboard", users_dashboard_path, class: 'dropdown-item' %>
                  <% unless current_user.candidate? %>
                  <%= link_to "Reports", client_reports_path, class: 'dropdown-item' %>
                  <%= link_to "Create Job", new_job_path, class: 'dropdown-item' %>
                  <%= link_to "Administrate Jobs", jobs_path, class: 'dropdown-item' %>
                  <% end %>
                  <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_profile_modal">Edit Profile
                  </a>
                  <!-- <%= link_to "Edit", edit_user_registration_path, class: 'dropdown-item' %> -->
                  <%= link_to "Logout", destroy_user_session_path, class: 'dropdown-item' %>
               </div>
            </li>
         </ul>
         <% else %>
         <ul class="navbar-nav ml-auto col-md-2" id="log-in-form-btn">
            <li>
               <a href="#">
               <i class="fas fa-user"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#" id="navbarDropdown" role="button">
               Sign In
               </a>
            </li>
         </ul>
         <% end %>
      </div>
   </div>
</nav>
<% end %>
<% end %>
<% else %>
<nav class="navbar navbar-expand-lg navbar-light">
   <%= link_to '/', class: 'navbar-brand' do %>
   <%= image_tag 'new_ui/logo-img.png', alt: 'logo', class: 'img-fluid' %>
   <span id="company-logo">yourcube</span>
   <% end %>
   <%= button_tag class: 'navbar-toggler', data: { toggle: 'collapse', target: '#navbarSupportedContent' }, aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' } do %>
   <span class="navbar-toggler-icon"></span>
   <% end %>
   <div class=" container navigation">
      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
         <%= form_tag welcome_search_path, :method=> :post, class: 'form-inline loc-search-form col-md-10' do %>
         <div class="col-md-3">
            <div class="form-group">
               <%= select_tag "category", options_from_collection_for_select(Industry.all, "id", "title", params[:category].to_i),class: '', id: 'sel1', :prompt => 'Select Job Category' %>
            </div>
         </div>
         <div class="col-md-9">
            <div class="form-group search search-custom">
               <%= text_field_tag :search, '', class: 'form-control', value: params[:search],placeholder: 'Search', aria: { label: 'Search' } %>
               <%= button_tag class: 'btn srch-btn' do %>
               <i class="fas fa-search"></i>
               <% end %>
            </div>
         </div>
         <% end %>
         <% if current_user.present? %>
         <ul class="navbar-nav col-md-2">
            <li>
               <a href="#" data-toggle="modal" data-target="#edit_profile_modal">
                 <% if current_user.image.url.present? && !current_user.image_file_name.nil? %>
                  <%= image_tag current_user.image.url, size:"50x50", style:"border-radius: 50%;" %>
                 <% else %>
                 <i class="fas fa-user"></i>
                 <% end %>
               <!-- <i class="fas fa-user"></i> -->
               </a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %>
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "Go to Dashboard", users_dashboard_path, class: 'dropdown-item' %>
                  <% unless current_user.candidate? %>
                  <%= link_to "Reports", client_reports_path, class: 'dropdown-item' %>
                  <%= link_to "Create Job", new_job_path, class: 'dropdown-item' %>
                  <%= link_to "Administrate Jobs", jobs_path, class: 'dropdown-item' %>
                  <% end %>
                  <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_profile_modal">Edit Profile
                  </a>
                  <!-- <%= link_to "Edit", edit_user_registration_path, class: 'dropdown-item' %> -->
                  <%= link_to "Logout", destroy_user_session_path, class: 'dropdown-item' %>
               </div>
            </li>
         </ul>
         <% else %>
         <ul class="navbar-nav ml-auto col-md-2" id="log-in-form-btn">
            <li>
               <a href="#">
               <i class="fas fa-user"></i>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#" id="navbarDropdown" role="button">
               Sign In
               </a>
            </li>
         </ul>
         <% end %>
      </div>
   </div>
</nav>
<% end %>
<%= javascript_include_tag 'new_ui/common.js' %>
