<%= form_for(@resume, :html => { :multipart => true }) do |f| %>
<% if @resume.errors.any? %>
<div id="error_explanation">
   <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>
   <ul>
      <% @resume.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="form-group title">
   <%= f.text_field :title, class:"form-control", required: true,placeholder:"Title" %>
</div>
<div class="form-group">
   <%= f.text_area :description, class:"form-control", required: true,rows:"5", placeholder:"Description" %>
</div>
<div class="box__input">
   <%= f.file_field :cv, required: true,class:"box__file", title: "#{@resume.cv_file_name.present? ? @resume.cv_file_name : 'Browse'}" %>
  <label for="file"><%= image_tag "/assets/new_ui/Shape.png", class:"img-fluid", alt:"drag" %>&nbsp;&nbsp;<span id="resume-label"><%= @resume.cv_file_name.present? ? @resume.cv_file_name : "Browse" %></span></label>
</div>
<%= f.submit  class:"btn"%>
<% end %>
<script>
  $("#resume_cv").change(function(){
    $("#resume_cv").prop('title',this.files[0].name);
    $('#resume-label').html(this.files[0].name)
  });
</script>