<div class="container-fluid">
   <div class="row">
      <%= render 'shared/navigation' %>
      <div class="col-md-10" id="content-container" style="background-color:#f1f1f1;">
         <div class="job-right resume-list">
            <h2 class="heading">List of Candidate Resumes</h2>
            <div class="box-job">
               <ul>
                  <% if @resumes.present? %>
                  <% @resumes.each do |resume| %>
                  <li>
                     <div class="equal">
                        <div class="box-heading">
                           <div class="box-header">
                              <div class="name"> <%= resume.user.first_name[0] %><% if resume.user.last_name %><%= resume.user.last_name[0] %><% end %></div>
                              <div class="detail">
                                 <h2 class="job-heading"><%= resume.user.first_name %> <br/><%= resume.user.last_name %></h2>
                                 <h3 class="job-sub-heading"><%= resume.user.email %></h3>
                                 <div class="about-job"><%= link_to "#{resume.cv_file_name}".truncate(10).humanize, download_resume_path(resume),  target: "_blank", style: "color:#203CC4", title: "#{resume.cv_file_name}" %> </div>
                              </div>
                           </div>
                           <div class="job-option text-center float-right">
                              <a href="#" id="options" class="ver-dot-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                 </ul>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="options" x-placement="bottom-start" style="position: absolute; transform: translate3d(245px, 164px, 0px); top: 0px; left: 0px; will-change: transform;">
                                 <%= link_to 'Delete', resume, method: :delete, data: { confirm: 'Are you sure?' } %>
                              </div>
                           </div>
                        </div>
                        <div class="job-discription">
                           <h3>description</h3>
                           <p><%= resume.description.truncate(100) %></p>
                        </div>
                     </div>
                     <div class="box-footer text-center">
                        <a href="<%= edit_resume_path(resume) %>">Edit</a>
                     </div>
                  </li>
                  <% end %>
                  <% else%>
                  <li> No Resume uploaded yet.</li>
                  <% end %>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
