<%= javascript_include_tag 'highcharts', 'highcharts-more' %>
<div class="row">
<div class="col-md-2">
    <ul class="dashside">
      <li><a href="dashboard-collapse.html"><svg width="19" height="19" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Canvas" fill="none">
        <g id="dashboard">
        <g id="Rectangle 5">
        <path d="M 2 16L 15 16C 16.1046 16 17 15.1046 17 14L 17 2C 17 0.895431 16.1046 0 15 0L 2 0C 0.895431 0 0 0.895431 0 2L 0 14C 0 15.1046 0.895431 16 2 16Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1 2)" stroke="#B2B6BA"/>
        </g>
        <g id="Line 5">
        <path d="M 1.66667 0.996528L 1.66667 17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(8 1)" stroke="#B2B6BA"/>
        </g>
        <g id="Line 6">
        <path d="M 0.444444 1L 10 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(8 9)" stroke="#B2B6BA"/>
        </g>
        <g id="Line 7">
        <path d="M 9 1L 0 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(2 9)" stroke="#B2B6BA"/>
        </g>
        </g>
        </g>
        </svg>Dashboard</a>
      </li>
      <li class="active">
        <%= link_to(client_reports_path) do %>
          <svg width="19" height="16" viewBox="0 0 19 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Canvas" fill="none">
        <g id="reports">
        <path id="Line 10" d="M 0.5 1.5L 16.5 1.5" transform="translate(1 13)" stroke-width="2" stroke-linecap="round" stroke="#122FB8"/>
        <path id="Line 11" d="M 1.5 4.5L 1.5 0.964466" transform="translate(3 10)" stroke-width="2" stroke-linecap="round" stroke="#122FB8"/>
        <path id="Line 11 Copy" d="M 1.5 13.5L 1.5 0.990004" transform="translate(8 1)" stroke-width="2" stroke-linecap="round" stroke="#122FB8"/>
        <path id="Line 11 Copy 2" d="M 1.5 8.5L 1.5 0.983352" transform="translate(13 6)" stroke-width="2" stroke-linecap="round" stroke="#122FB8"/>
        </g>
        </g>
        </svg>
         Reports
         <% end %>
      </li>
      <li>
        <!-- <a href="create-job.html"> -->
        <%= link_to(new_job_path) do %>
          <svg width="19" height="17" viewBox="0 0 19 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Canvas" fill="none">
            <g id="create job">
            <g id="Group 2">
            <path id="Rectangle 8" d="M 0 0L 17 0L 17 12L 0 12L 0 0Z" transform="translate(1 4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#B2B6BA"/>
            <path id="Rectangle 8 Copy" d="M 0 0L 3 0L 3 5L 0 5L 0 0Z" transform="matrix(0 -1 1 0 7 4)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#B2B6BA"/>
            <path id="Line 9" d="M 1.5 0.924816L 1.5 2.625" transform="translate(4 9)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#B2B6BA"/>
            <path id="Line 9 Copy" d="M 1.5 0.924816L 1.5 2.625" transform="translate(12 9)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#B2B6BA"/>
            </g>
            <path id="Path 2" d="M 0 0C 0 0 7.78268 6 17 0" transform="translate(1 7)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#B2B6BA"/>
            </g>
            </g>
          </svg>
          Create Job
        <% end %>
      </li>
      <li>
        <a href="administrate.html">
          <svg width="17" height="17" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Canvas" fill="none">
            <g id="Page 1">
            <path id="Stroke 1" d="M 0 4.24128L 8.85607 13L 13 13L 13 8.88254L 3.92787 0L 0 4.24128Z" transform="translate(3 3)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#B2B6BA"/>
            <path id="Stroke 3" d="M 0 3L 3 0" transform="translate(11 11)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#B2B6BA"/>
            <path id="Stroke 5" d="M 1.68488 5.90021L 0.792287 5.00701C -0.264096 3.9511 -0.264096 2.22295 0.792287 1.1665L 1.26661 0.692139C 2.323 -0.363766 3.85018 -0.147724 4.90656 0.908181C 5.96294 1.96409 5.79915 1.80084 5.79915 1.80084" transform="translate(1 1.09985)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#B2B6BA"/>
            </g>
            </g>
          </svg>
         Administrate jobs
       </a>
      </li>
    </ul>
  </div>
  <div class="col-md-10" style="background-color:#f1f1f1;">
                <div class="job-right reportse">
                    
                    <div class="box-job">
                        <ul>
                            <li>
                                <div class="equal-height">
                                    <div class="box-heading">
                                        
                                        <div class="report bo">
                                            <span>10</span>
                                        </div>
                                    </div>
                                    <div class="hori-divi"></div>
                                    Live Vacancies
                                </div>
                            </li>
                            <li>
                                <div class="equal-height">
                                    <div class="box-heading">
                                        
                                        <div class="report redr">
                                            <i class="fas fa-long-arrow-alt-up grey"></i><span>70</span><i class="fas fa-long-arrow-alt-down red"></i>
                                        </div>
                                    </div>
                                    <div class="hori-divi"></div>
                                    Avarage time to Offer
                                </div>
                            </li>
                            <li>
                                <div class="equal-height">
                                    <div class="box-heading">
                                        
                                        <div class="report green">
                                            <i class="fas fa-long-arrow-alt-up green"></i><span>9:1</span><i class="fas fa-long-arrow-alt-down grey"></i>
                                        </div>
                                    </div>
                                    <div class="hori-divi"></div>
                                    Live Vacancies
                                </div>
                            </li>
                            <li>
                                <div class="equal-height">
                                    <div class="box-heading">
                                        
                                        <div class="report bo">
                                            <span>3</span>
                                        </div>
                                    </div>
                                    <div class="hori-divi"></div>
                                    Live Vacancies
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="reporttable">
                    <table>
                    <tr>
                        <th>Roles</th>
                        <th>Number of Candidates</th>
                        <th>1st Round</th>
                        <th>2nd Round</th>
                        <th>3rd Round</th>
                        <th>Offer</th>
                    </tr>
                    <tr>
                        <td>January</td>
                        <td>15</td>
                        <td>7</td>
                        <td>3</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Bussiness Analysts</td>
                        <td>10</td>
                        <td>8</td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Programmers</td>
                        <td>20</td>
                        <td>10</td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    </table>
                    </div>
                    
                    <div class="reporttable tab2">
                    <table>
                    <tr>
                        <th>Interviwers</th>
                        <th>Pass</th>
                        <th>Rejects</th>
                        <th>Notes</th>
                    </tr>
                    <tr>
                        <td>January</td>
                        <td>40</td>
                        <td>5</td>
                        <td>Our time to offer is below the market average</td>
                    </tr>
                    <tr>
                        <td>Bussiness Analysts</td>
                        <td>10</td>
                        <td>8</td>
                        <td>Mark Smith has an above average of failure of candidates</td>
                    </tr>
                    <tr>
                        <td>Programmers</td>
                        <td>20</td>
                        <td>10</td>
                        <td>We’re getting less programmer applications than the market</td>
                    </tr>
                    <tr>
                        <td>Programmers</td>
                        <td>20</td>
                        <td>10</td>
                        <td>We need to get more applications if we want achieve our targets</td>
                    </tr>
                    </table>
                    </div>
                </div>
            </div>
  <div class="col-md-10">
<div class="row start_date_end_date_css">
  <div class="col-md-2"></div>  
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        <%= text_field_tag :start_date, nil, class: 'form-control', placeholder: 'Start Date' %>
      </div>
      <div class="col-md-5">
        <%= text_field_tag :end_date, nil, class: 'form-control', placeholder: 'End Date' %>
      </div>
      <div class="col-md-2">
        <%= button_tag 'Load Results', id: 'load_result', class: 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
</div>
</div>
<div id="container" style="width: 700px; height: 390px; margin: 0 auto;margin-bottom: 40px;border: 1px solid #CCCCCC;"></div>
<div id="container_pie" style="width: 700px; height: 390px; margin: 0 auto;margin-bottom: 40px;border: 1px solid #CCCCCC;"></div>
<div id="container_line" style="width: 700px; height: 390px; margin: 0 auto;margin-bottom: 40px;border: 1px solid #CCCCCC;"></div>
<div id="container_bar" style="width: 700px; height: 390px; margin: 0 auto;margin-bottom: 40px;border: 1px solid #CCCCCC;"></div>
<script>
    $(function(){
        $(document).ready(function(){
            loadGraph();
            $('#start_date').datetimepicker({
                format:'d/m/Y',
                timepicker:false
            });
            $('#end_date').datetimepicker({
                format:'d/m/Y',
                timepicker:false
            });
            $('#load_result').click(function () {
                loadGraph();
            });
        });

        function loadGraph() {
            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();
            getUrl(start_date, end_date)
                .done(function(response) {
                    //Cumulative Flow Diagram

                    var open_cummulative = response.cummulative_data.open_jobs,
                        closed_cummulative = response.cummulative_data.closed_jobs;

                    Highcharts.chart('container', {
                        chart: {
                            type: 'area'
                        },
                        title: {
                            text: 'Jobs Cumulative Flow Diagram'
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            title: {
                                text: ''
                            },
                            labels: {
                                style: {
                                    fontWeight: 'normal',
                                    fontSize: '12px',
                                    fontFamily: 'Segoe UI',
                                    color: 'black'
                                },
                                formatter: function () {
                                    return ''
                                }
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        yAxis: {
                            title: {
                                text: 'Jobs Count'
                            }
                        },
                        tooltip: {
                            split: true,
                            valueSuffix: ''
                        },
                        plotOptions: {
                            area: {
                                stacking: 'normal',
                                lineColor: '#666666',
                                lineWidth: 1,
                                marker: {
                                    lineWidth: 1,
                                    lineColor: '#666666'
                                }
                            }
                        },
                        series: [{
                            name: 'Open Jobs',
                            data: open_cummulative
                        }, {
                            name: 'Closed Jobs',
                            data: closed_cummulative
                        }]
                    });

                    //Pie Diagram
                    var open_jobs_pie = response.pie_data.open_jobs, closed_jobs_pie = response.pie_data.closed_jobs;

                    Highcharts.chart('container_pie', {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: 'Jobs Pie Chart'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                    style: {
                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                    }
                                }
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        series: [{
                            name: 'Brands',
                            colorByPoint: true,
                            data: [{
                                name: 'Closed Jobs',
                                y: closed_jobs_pie
                            }, {
                                name: 'Open Jobs',
                                y: open_jobs_pie
                            }]
                        }]
                    });

                    //Line Diagram
                    var open_jobs_line_chart = response.line_chart_data.open_jobs, closed_jobs_line_chart = response.line_chart_data.closed_jobs;

                    Highcharts.chart('container_line', {
                        title: {
                            text: 'Job Line Chart'
                        },
                        subtitle: {
                            text: ''
                        },
                        yAxis: {
                            title: {
                                text: 'Jobs'
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle'
                        },
                        plotOptions: {
                            series: ''
                        },
                        credits: {
                            enabled: false
                        },
                        series: [{
                            name: 'Open Jobs',
                            data: open_jobs_line_chart
                        }, {
                            name: 'Closed Jobs',
                            data: closed_jobs_line_chart
                        }],

                        responsive: {
                            rules: [{
                                condition: {
                                    maxWidth: 500
                                },
                                chartOptions: {
                                    legend: {
                                        layout: 'horizontal',
                                        align: 'center',
                                        verticalAlign: 'bottom'
                                    }
                                }
                            }]
                        }

                    });

                    //Bar Diagram
                    var open_jobs_bar_chart = response.bar_chart_data.open_jobs, closed_jobs_bar_chart = response.bar_chart_data.closed_jobs, dates = response.bar_chart_data.dates;

                    Highcharts.chart('container_bar', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Job Bar Chart'
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            categories: dates,
                            crosshair: true
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Jobs'
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y}</b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                            }
                        },
                        series: [{
                            name: 'Open Jobs',
                            data: open_jobs_bar_chart

                        }, {
                            name: 'Closed Jobs',
                            data: closed_jobs_bar_chart

                        }]
                    });

                })
                .fail(function() {
                    alert( "Something went Wrong." );
                })
        }

        function getUrl(start_date, end_date) {
            if((start_date == '' || start_date == undefined) && (end_date == '' || end_date == undefined)) {
                return $.get({
                    url: '/reports/get_data'
                })
            } else {
                return $.get({
                    url: '/reports/get_data',
                    data: {
                        start_date: start_date,
                        end_date: end_date
                    }
                })
            }
        }
    });
</script>