<div class="container-fluid">
  <div class="row">
    <%= render 'shared/navigation' %>
    <div class="col-md-10" id="content-container" style="background-color:#f1f1f1;">
      <div class="job-right reportse" style="padding: 34px;">

        <div class="box-job job-report-box">
          <ul>
            <li style="min-width: 232px; width: 0% !important">
              <div class="equal-height">
                <div class="box-heading">

                  <div class="report bo">
                    <span><%= @jobs.where(status: 0).count %></span>
                  </div>
                </div>
                <div class="hori-divi"></div>
                <span><p>Live Vacancies</p></span>
              </div>
            </li>
            <li style="min-width: 232px; width: 0% !important">
              <div class="equal-height">
                <div class="box-heading">

                  <div class="report redr">
                    <%average_time = calculate_average_time(@jobs)%>
                    <i class="fas fa-long-arrow-alt-up grey"></i><span><%= average_time >= 0 ? average_time : 0%></span><i class="fas fa-long-arrow-alt-down red"></i>
                  </div>
                </div>
                <div class="hori-divi"></div>
                <span><p>Average time to Offer</p></span>
              </div>
            </li>
            <li style="min-width: 232px; width: 0% !important">
              <div class="equal-height">
                <div class="box-heading">

                  <div class="report green">
                    <i class="fas fa-long-arrow-alt-up green"></i><span><%= rejected_jobs(@jobs) %>:<%= @jobs.where(status: 0).count %></span>
                    <!--<i class="fas fa-long-arrow-alt-down grey"></i>-->
                  </div>
                </div>
                <div class="hori-divi"></div>
                <span><p>Drop Out Ratio's</p></span>
              </div>
            </li>
            <li style="min-width: 232px; width: 0% !important">
              <div class="equal-height">
                <div class="box-heading">

                  <div class="report bo">
                    <span><%= accepted_jobs(@jobs) %></span>
                  </div>
                </div>
                <div class="hori-divi"></div>
                <span><p>Vacancies filled this year</p></span>
              </div>
            </li>
          </ul>
        </div>
        <div class="reporttable">
          <table>
            <tr>
              <th>Roles</th>
              <th>Number of Candidates</th>
              <th>1st Round</th>
              <th>2nd Round</th>
              <th>3rd Round</th>
              <th>Offer</th>
            </tr>
            <% @jobs.each do |job| %>
              <tr>
                <td><%= job.title %></td>
                <td><%= job.candidates.count %></td>
                <td><%= job.interview_schedules.where(stage: 1).count %></td>
                <td><%= job.interview_schedules.where(stage: 2).count %></td>
                <td><%= job.interview_schedules.where(stage: 3).count %></td>
                <td><%= job.candidate_applications.where(accepted: true).count %></td>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="reporttable">
          <table>
            <tr>
              <th>Interviwers</th>
              <th>Pass</th>
              <th>Rejected</th>
              <th>Notes</th>
            </tr>
            <% @jobs.where(status: 1).each do |job| %>
              <% comment = job.interview_schedules.order('stage desc').first.client_comments.first rescue ''%>
              <% accepted = job.user_jobs.where(accepted: true).count %>
              <% rejected = job.user_jobs.where(rejected: true).count %>
              <tr>
                <td><%= job.interview_schedules.order('stage desc').first.interviewers_names.join(",")  %></td>
                <td>
                  <% if accepted > rejected  %>
                    <div class="report-result green"><i class="fas fa-long-arrow-alt-up green"></i><%= accepted%></div> 
                  <% else %>
                    <div class="report-result redr"><%= accepted%><i class="fas fa-long-arrow-alt-down red"></i></div>
                  <% end %>
                </td>
                <td><%= rejected %></td>
                <td><%= (comment.present? ? comment.comment : '') %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>